.reward-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: radial-gradient(circle, var(--bg-color-soft) 0%, var(--bg-color) 100%);
}

.reward-title {
    font-size: 3.5rem;
    color: var(--primary-mint);
    margin-bottom: 2rem;
    animation: bounce 1s infinite alternate;
}

.reward-stars {
    font-size: 5rem;
    margin-bottom: 3rem;
    animation: spin 10s linear infinite;
}

.btn-home {
    background-color: var(--primary-peach);
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 50px;
    border: 4px solid #FFC099;
}

.btn-home:hover {
    background-color: #FFC099;
    color: white;
    transform: scale(1.1);
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-20px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}